img {
  width: 200px;
  height: 200px;
 margin-right: 10px;
 border-style: groove;

}

body {
  background-color: #F0F5DF;
  font-family: Arial, sans-serif;
  margin: 20px;
  
}

h1 {
  color: #000000;
  text-align:left;
 
}
p {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  
}
.picture {
    display: block;      /* On oublie le flex un instant pour simplifier */
    text-align: center;  /* Centre l'image si c'est une balise img */
    margin: 20px auto;   /* Crée de l'espace en haut et en bas */
    position: relative;  /* Pour être sûr qu'elle reste dans le flux */
    top: 0 !important;   /* Annule le 310px précédent */
    right: 0 !important; /* Annule le 30px précédent */
    z-index: 1;          /* Assure qu'elle est sous le menu (qui devrait être à 10 ou 100) */
}

.picture img {
    width: 100px;        /* Fixez une taille pour tester */
    height: auto;
    border-radius: 10px; /* Optionnel : pour le style */
}

.mes-info {
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: left;
  margin-top: 0px;
}
.top {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .navbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
 }

.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
 margin: 25px;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.navbar .menu-hamburger{
  display: none;
  position: absolute;
  width: 35px;
  right: 0;
  border: none;
  top: 0px;
}



@media screen and (max-width: 900px) {
  .navbar{
    padding: 0;
  }

  .navbar .menu-hamburger{
    display: block;
  }
   .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.018);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all ;
    
}
.nav-links.mobile-menu {
  margin-left: 0;

}
.nav-links ul{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.navbar .nav-links ul li{
  margin: 20px;
  font-size: x-large;
  font-style: oblique;

}
}

th{
  text-align: center;
  padding: 20px;
  
}

a {
  color: #000000;
  text-decoration: none;
}


img.loca{
  display: block;
  margin: 0;
}

td.table {
 width: 10px;
}